.navbar {
  background: #fff; /* White background */
  padding: 0px 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0; /* Stick to the top */
  z-index: 10; /* Make sure it's above other content */
  /* Other styles */
}

.shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* This adds the shadow */
}

/* ... existing styles ... */

/* Responsive styling if needed */
@media screen and (max-width: 960px) {
  .nav-menu {
    /* Existing responsive styles */
  }

  /* You may want to add a toggle button for mobile screens */
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.brand-title {
  color: #000;
  font-size: 24px;

  cursor: pointer;
}

.brandTitle-dot {
  color: #4285f4;
  font-size: 30px;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
}

.nav-links {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}

.nav-links:hover {
  color: #555;
  transition: all 0.3s ease;
}

/* Responsive styling if needed */
@media screen and (max-width: 960px) {
  .nav-menu {
    display: none;
    grid-template-columns: auto;
    margin-top: 10px;
  }

  .nav-item {
    margin: 10px;
  }
}
